@import "mixins";

.page {
  overflow: hidden;
  // padding here to position progress bar

  .header {
    @include flex(flex-start);
  }

  .container {
    padding: 20px;
  }

  .title {
    font-size: 18px;
  }
}
